
@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Archivo", sans-serif;
}

.truncate-1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  line-break: anywhere;
}

@keyframes bounce {
  0% {
    transform: translateY(-60%);
    opacity: 0.7;
  }
  100% {
    transform: translateY(20%);
    opacity: 1;
  }
}

.animation1 {
  animation: bounce 0.4s ease-in-out infinite alternate;
  animation-delay: -0.4s;
}

.animation2 {
  animation: bounce 0.4s ease-in-out infinite alternate;
  animation-delay: -0.2s;
}

.animation3 {
  animation: bounce 0.4s ease-in-out infinite alternate;
  animation-delay: 0s;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
    height: 5px;
  }
   
   
/* Handle */
::-webkit-scrollbar-thumb {
background: #42AB65; 
border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #1d813e; 
}


.bg-primary{
    background-color: #42ab65;
}

.rounded-3xl {
    border-radius: 10px;
}

.rounded-bl-none {
    border-bottom-left-radius: 0px;
}
.rounded-br-none {
    border-bottom-right-radius: 0px;
}
.rounded-xl {
    border-radius: 8px;
}

.hover\:bg-secondary:hover { 
    background-color: #42ab65 !important;
    border-color: #42ab65;
}


.chat-background{
  background-color: #f2f2f2;
  background-image: url('../images/bg-pattern/pattern-01.png');
}

.border-b-\[0\.1px\] ,.border-l-\[0\.1px\],.border-t-\[0\.1px\]{ 
  border-color: #eaeaf1 !important;
}

.w-1\/3 { 
  width: 360px;
}

.w-2\/3 {
  width: calc(100% - 434px);
}

.user-chat-header{
  background-color: #ffffff2b;
  backdrop-filter: blur(7px);
}

.hover\:bg-primary:hover{
  background-color: #42ab65 !important;
  color: #fff !important;
}

.outline-zinc-400 {
  outline-color: #a1a1aa1f;
}

.bg-light-gray:hover{
  background-color: hsla(0,0%,45%,.071);
}

.bg-light{
  background-color:  #ebebeb; 
}
.max-w-2xl {
  max-width: 450px;
}
.active.bg-success-light{
  background: rgba(198,230,208,.651);
  border-color:#DAEFE0 !important ;
}

.active.bg-success-light:hover{
  background: rgba(198,230,208,.651);
  border-color:#DAEFE0 !important ;
}

.user-searchbar {
  padding: 18px;
}

/* tabs-sidebar */

.tabs-sidebar{
  height: 100%;
  width: 74px;
  background-color: #2e2e2e;
}

.navbar-brand-box { 
  display: flex;
  height: 80px;
  align-items: center;
  padding: 7px;
}

.sidemenu-navigation { 
  height: calc(100vh - 80px);
}

.nav-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 8px;
  position: relative;
}

.nav-icons li {
  height: 60px;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  position: relative;
}

.profile-user-dropdown button img{ 
  height: 55px;
  width: 55px;
  object-fit: cover;
}


.nav-icons li.nav-item a.active:after {
  content: "";
  height: 25px;
  width: 3px;
  display: block;
  background: #42ab65;
  position: absolute;
  right: -8px;
  top: 50%;
  transform: translateY(-14.5px);
}

.nav-icons li.nav-item a.nav-link {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-icons li.nav-item a.nav-link.active  img,.nav-icons li.nav-item a.nav-link:hover img {
  filter: invert(57%) sepia(48%) saturate(540%) hue-rotate(87deg) brightness(92%) contrast(83%); 
}


a.dropdown-item,div.dropdown-item .custom-pointer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 6px 6px 10px;
  margin-bottom: 3px;
  border-radius: 6px;
  outline: none;
}

a.dropdown-item:hover , div.dropdown-item .custom-pointer:hover{
background: whitesmoke;
cursor: pointer;
}

.react-confirm-alert-overlay {
  background: rgb(55 55 55 / 22%);
  backdrop-filter: blur(2px);
  z-index: 999;
}
.react-confirm-alert{
  width: 100%;
  max-width: 400px;
}
.logout-poppup-modal-container{
  border-radius: 10px;
  text-align: center;
}
 
.logout-poppup-modal-container .modal-header.d-block {
  background-color: #42ab65;
  padding: 10px;
}

.logout-poppup-modal-container .confirmFooter button{
  padding: 5px 28px;
  background-color: #e9e9e9;
  border-radius: 7px;
  margin: 3px;
}

.logout-poppup-modal-container .confirmFooter button.close{
  background-color: #6f6f6f;
  color:#fff; 
}
.logout-poppup-modal-container .confirmFooter button.close:hover{
  background-color: #414141;
  transition-duration: .3s;
}
.logout-poppup-modal-container .confirmFooter button.logout{
  background-color: red;
  color:#fff;
}
.logout-poppup-modal-container .confirmFooter button.logout:hover{
  background-color: rgb(172, 0, 0);
transition-duration: .3s;
}


.login{
  max-width: 500px;
  width: 90%;
}

.login-page .w-1\/3{
  width:450px;
}

.login-page .w-1\/3{
  text-align: center;
  display: block;
}
.login-page .logo img{  
  max-width: 200px;
  width: 100%; 
  margin-left: 48px;
  margin-top: 48px;
}
.login-page .w-2\/3 { 
    width: calc(100% - 450px);
    z-index: 1;
    padding: 24px;
    background: #4aac68; 
}
 

.login-page .w-2\/3 .auth-img {
  position: absolute;
  max-width: 400px;
  left: -470px;
  bottom: 0;
  z-index: 2;
}

.login-page .w-2\/3 .auth-img img{
  max-width: 200%;
}


.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.pagination__link {
  display: inline-block;
  padding: 8px;
  margin: 0 4px;
  cursor: pointer;
  border: 1px solid #ccc;
  color: #333;
  text-decoration: none;
  border-radius: 4px;
}

.pagination__link--disabled {
  color: #ccc;
  cursor: not-allowed;
}

.pagination__link--active {
  background-color: #007bff;
  color: #fff;
  border: 1px solid #007bff;
}

.error-msg{
  color: red;
}

.user-image-poppup img{
  max-width: 20px;
}

.user-details {
  padding-top: 50px;
}

video#myVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
  object-fit: cover;
}

.profile-settings {
  padding: 45px;
  background: #f7f7f7;
}
.upload-user-image{ 
  padding: 10px;
  border: 1px solid #d5d5d5a1;
  width: fit-content;
  border-radius: 15px;
  box-shadow: 0px 1px 10px #0000001f;
  margin-bottom: 24px;
  background-color: #fff;
}

.form-container { 
  padding: 30px;
  border: 1px solid #d5d5d5a1; 
  border-radius: 15px;
  box-shadow: 0px 1px 10px #0000001f; 
  background-color: #fff;
}

.upload-user-image img {
  height: 80px;
  width: 80px;
  border-radius: 12px;
}

.upload-user-image button ,.upload-user-image .avatar-img{
  height: 80px;
  padding: 30px 50px;
  background: none;
  border: 2px dotted #0000003b;
  border-radius: 10px;
  font-weight: 700;
  color: #3a9959;
}

.upload-user-image button:hover,.upload-user-image  .avatar-img:hover{
  background: #42ab651c;
  border-color: #42ab65;
}
.avatar-list{
position: relative;
}
 img{
  cursor: pointer;
  
  margin-left: 0px;
} 
.avatar-list .arrow {
  height: 100px;
  width: 50px; 
  display: block;
  position: absolute;
  z-index: 10;
  cursor: pointer;
}
.avatar-list .a-left {
  left: 0;
  background-image: linear-gradient(to right, rgb(255, 255, 255),rgb(255, 255, 255) , rgba(0, 0, 0, 0));
}
.avatar-list .a-right {
  right: 0;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) ,rgb(255, 255, 255), rgb(255, 255, 255));
}
.badge {
  position: absolute;
  top: 0;
  right: 0;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 4px 8px;
  font-size: 12px;
}

aside.epr-main.EmojiPickerReact {
  position: absolute;
  bottom: 101px;
  left: 10px;
}
.react-tabs__tab{
  bottom: 0px; 
  border-radius: 5px; 
  margin: 0px 5px;
}
.react-tabs__tab:first-child{
  margin-left: 0px;
}
.react-tabs__tab:last-child{
  margin-right: 0px;
}

.react-tabs__tab--selected,.react-tabs__tab-list{
  border:0px;
}
.react-tabs__tab:focus:after{
  display: none;
}

ul.react-tabs__tab-list {
  width: fit-content;
  background: #f9f9f9;
  padding: 8px 10px;
  border-radius: 50px;
  box-shadow: inset 1px 1px 3px #0000000f;
  border: 1px solid #0000000d;
  margin-bottom: 20px;
}
.react-tabs__tab--selected {
  background: #42AB65;
  color: #fff;
  box-shadow: 0px 1px 3px #00000036;
  border-radius: 55px; 
}


.react-tabs {
  padding: 20px;
  background: #fff;
  border-radius: 10px;
}



tr th {
  background: #2e2e2e;
  padding: 10px 0px;
  color: #fff;
}

tr:nth-child(even) td{
  background-color:#fff;
  padding: 10px;
  z-index: 2;
}



tr.row{
  height: 10px;
}


tr:nth-child(even) td:first-child , tr th:first-child{
  border-radius: 7px 0px 0px 7px; 

}
tr:nth-child(even) td:last-child, tr th:last-child{
  border-radius: 0px 7px 7px 0px;
}
tr:nth-child(even) {
  box-shadow: 0px 0px 2px  #00000038;
  border-radius: 6px;
  transition: .3s ease-in-out; 
  z-index: 2;
}
tr:nth-child(even):hover {
  transform: scale(1.002);
  transition: .3s;
  cursor: pointer;
  box-shadow: 0px 4px 7px #00000024;
  z-index: 2;
} 

.table-container{
  border: 1px solid #eaeaea;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: inset 2px 2px 5px #0000000d;
  padding: 10px;
} 
ul.pagination li a {
  border: 1px solid #d1d1d1;
  padding: 11px 15px;
  border-radius: 6px;
  margin: 0px 2px;
  color: #9d9d9d;
}
ul.pagination .pagination__link--active a{
  background-color: #4b4b4b;
  color: #fff;
  border: 1px solid #636363;
  padding: 11px 15px;
  border-radius: 6px;
}
.pagination__link { 
  padding: 8px 20px;
}
.pagination {
  display: flex;
  margin: 40px 0 10px;
  align-items: center;
}

.pagination__link--active {
  background-color: transparent;
  color: #fff;
  border: 0px;
}

ul.pagination li:first-child a, ul.pagination li:last-child a {
  padding: 7.5px 16px;
    border-color: rgb(227 227 227);
    background: linear-gradient(2deg, #ebebeb, white);
    color: #434343;
    border-radius: 6px;
}
ul.pagination li:first-child a:hover, ul.pagination li:last-child a:hover {
  background: linear-gradient(2deg, white, #ebebeb);
  transition-duration: .4s;
}


.update-popup {  
  max-width: 500px;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  z-index: 999;
  position: relative;
}

.update-popup h2 {
  background-color: #42ab65;
  padding: 10px;
  font-size: 18px;
  color: #fff;
  text-align: center;
  border-radius: 10px 10px 0px 0px;
}
button.profile-user {
  height: 60px;
  width: 60px;
}