
@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Archivo", sans-serif;
}

.truncate-1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  line-break: anywhere;
}

@keyframes bounce {
  0% {
    transform: translateY(-60%);
    opacity: 0.7;
  }
  100% {
    transform: translateY(20%);
    opacity: 1;
  }
}

.animation1 {
  animation: bounce 0.4s ease-in-out infinite alternate;
  animation-delay: -0.4s;
}

.animation2 {
  animation: bounce 0.4s ease-in-out infinite alternate;
  animation-delay: -0.2s;
}

.animation3 {
  animation: bounce 0.4s ease-in-out infinite alternate;
  animation-delay: 0s;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
  }
   
   
/* Handle */
::-webkit-scrollbar-thumb {
background: #42AB65; 
border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #1d813e; 
}


.bg-primary{
    background-color: #42ab65;
}

.rounded-3xl {
    border-radius: 10px;
}

.rounded-bl-none {
    border-bottom-left-radius: 0px;
}
.rounded-br-none {
    border-bottom-right-radius: 0px;
}
.rounded-xl {
    border-radius: 8px;
}

.hover\:bg-secondary:hover { 
    background-color: #42ab65 !important;
    border-color: #42ab65;
}


.chat-background{
  background-color: #f2f2f2;
  background-image: url('../images/bg-pattern/pattern-01.png');
}

.border-b-\[0\.1px\] ,.border-l-\[0\.1px\],.border-t-\[0\.1px\]{ 
  border-color: #eaeaf1 !important;
}

.w-1\/3 { 
  width: 360px;
}

.w-2\/3 {
  width: calc(100% - 434px);
}

.user-chat-header{
  background-color: #ffffff2b;
  backdrop-filter: blur(7px);
}

.hover\:bg-primary:hover{
  background-color: #42ab65 !important;
  color: #fff !important;
}

.outline-zinc-400 {
  outline-color: #a1a1aa1f;
}

.bg-light-gray:hover{
  background-color: hsla(0,0%,45%,.071);
}

.active.bg-success-light{
  background: rgba(198,230,208,.651);
  border-color:#DAEFE0 !important ;
}

.active.bg-success-light:hover{
  background: rgba(198,230,208,.651);
  border-color:#DAEFE0 !important ;
}

.user-searchbar {
  padding: 18px;
}

/* tabs-sidebar */

.tabs-sidebar{
  height: 100%;
  width: 74px;
  background-color: #2e2e2e;
}

.navbar-brand-box { 
  display: flex;
  height: 80px;
  align-items: center;
  padding: 7px;
}

.sidemenu-navigation { 
  height: calc(100vh - 80px);
}

.nav-icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 8px;
  position: relative;
}

.nav-icons li {
  height: 60px;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  position: relative;
}

.profile-user-dropdown button img{ 
  height: 55px;
  width: 55px;
  object-fit: cover;
}


.nav-icons li.nav-item a.active:after {
  content: "";
  height: 25px;
  width: 3px;
  display: block;
  background: #42ab65;
  position: absolute;
  right: -8px;
  top: 50%;
  transform: translateY(-14.5px);
}

.nav-icons li.nav-item a.nav-link {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-icons li.nav-item a.nav-link.active  img,.nav-icons li.nav-item a.nav-link:hover img {
  filter: invert(57%) sepia(48%) saturate(540%) hue-rotate(87deg) brightness(92%) contrast(83%); 
}


a.dropdown-item,div.dropdown-item .custom-pointer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 6px 6px 10px;
  margin-bottom: 3px;
  border-radius: 6px;
  outline: none;
}

a.dropdown-item:hover , div.dropdown-item .custom-pointer:hover{
background: whitesmoke;
cursor: pointer;
}

.react-confirm-alert-overlay {
  background: rgb(55 55 55 / 22%);
  backdrop-filter: blur(2px);
  z-index: 999;
}
.react-confirm-alert{
  width: 100%;
  max-width: 400px;
}
.logout-poppup-modal-container{
  border-radius: 10px;
  text-align: center;
}

.logout-poppup-modal-container .modal-header.d-block {
  background-color: #42ab65;
  padding: 10px;
}

.logout-poppup-modal-container .confirmFooter button{
  padding: 5px 28px;
  background-color: #e9e9e9;
  border-radius: 7px;
  margin: 3px;
}

.logout-poppup-modal-container .confirmFooter button.close{
  background-color: #6f6f6f;
  color:#fff; 
}
.logout-poppup-modal-container .confirmFooter button.close:hover{
  background-color: #414141;
  transition-duration: .3s;
}
.logout-poppup-modal-container .confirmFooter button.logout{
  background-color: red;
  color:#fff;
}
.logout-poppup-modal-container .confirmFooter button.logout:hover{
  background-color: rgb(172, 0, 0);
transition-duration: .3s;
}